<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

		<!-- Le styles -->
	    <style type="text/css">
	      
	    </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/select2.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-fileupload.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<!-- Font Awesome - http://fortawesome.github.com/Font-Awesome -->

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="brand" href="/">GroupFoo</a>
	          <div class="nav-collapse collapse">

	          	<div class="dropdown pull-right" id="navbar_avatar">
		            <a class="navbar-text">
		              <img src="{{ STATIC_URL }}img/mini_profile_pic.jpg" />
		              <b class="caret"></b>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li><a tabindex="-1" href="#">Settings</a></li>
					    <li><a tabindex="-1" href="#">Help</a></li>
					    <li class="divider"></li>
					    <li><a tabindex="-1" href="#">Logout</a></li>
				  	</ul>
	        	</div>

	        	<div class="pull-right" id="navbar_groups">
					<a href="/explore" class="navbar-text">
		              <p>Explore</p>
		            </a>
		        </div>

		        <div class="dropdown pull-left" id="notifications">
		            <a class="navbar-text" ref="#">
		            	<i id="notifications-icon" class="icon-bullhorn"></i>
		            	<b class="caret"></b>
		            </a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		            	<li id="notifications_title">
					    	Notifications
					    </li>
					    <li><a tabindex="-1" href="#">
					    	<div class="notification">
					    		<div class="notification_picture">
					    			<img src="{{ STATIC_URL }}img/profile_pic.jpg" width="50" height="50" />
					    		</div>
					    		<div class="notification_content">
						    		<div class="notification_message">
						    			<b>Bernardo Menezes</b> posted on your thread <b>"Why Cat Pictures are Awesome"</b>.
						    		</div>
						    		<div class="notification_relative_time">
						    			15 minutes ago
						    		</div>
						    	</div>
					    	</div>
					   	</a></li>
					    <li><a tabindex="-1" href="#">
					    	<div class="notification">
					    		<div class="notification_picture">
					    			<img src="{{ STATIC_URL }}img/picture_8.jpeg" width="50" height="50" />
					    		</div>
					    		<div class="notification_content">
						    		<div class="notification_message">
						    			<b>Bernardo Menezes</b> created a thread in <b>Menezes Family</b>.
						    		</div>
						    		<div class="notification_relative_time">
						    			15 minutes ago
						    		</div>
					    		</div>
					    	</div>
					   	</a></li>
					    <li id="notifications_bottom"><a tabindex="-1" href="#">
					    	See all
					    </a></li>
				  	</ul>
	       		</div>

	          </div>
	        </div>
	      </div>
	    </div>

	    {% include "backbone_templates.html" %}

	    {% block container %}
	    {% endblock %}

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>  
	    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	    <script src="{{ STATIC_URL }}js/bootstrap-fileupload.min.js"></script>
	    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
	    <script src="{{ STATIC_URL }}js/backbone-min.js"></script>
	    <script src="{{ STATIC_URL }}js/select2.js"></script>
	    <script src="{{ STATIC_URL }}js/app.js"></script>
	    {% block script %}
	    {% endblock%}
    </body>
</html>
