<div class="post box">
            <div class="box_picture">
                <img width="60px" height="60px" src="{{ STATIC_URL }}img/picture_8.jpeg" />
            </div>
            <div class="box_container">
                <div class="post_box_top">
                    <span class="author_name">
                        <a class="user_link">Bernardo Menezes</a>
                    </span>
                    <span class="post_description">
                        responded to <a class="user_link">Rodrigo Menezes</a> in <a class="group_link">Menezes Family</a>.
                    </span>
                    <span class="post_date">
                    </span>
                    <div class="thread_title">
                        <a class="thread_link">
                            "Why cat pictures are awesome"
                        </a>
                    </div>
                </div>
                <div class="post_content">
                    <p>Nice cat!</p>
                </div>
            </div>
            <div class="box_bottom">
                <span class="relative_time">
                    5 minutes ago
                </span>
                <a class="post_button" title="Share this post">
                    0 <i class="icon-share"></i>
                </a>
                <a class="post_button" title="Kudos">
                    0 <i class="icon-thumbs-up"></i>
                </a>
                <a class="post_button" title="Post a reply">
                    0 <i class="icon-comment"></i>
                </a>
            </div>
        </div>

        <div class="post box">
            <div class="box_picture">
                <img width="60px" height="60px" src="{{ STATIC_URL }}img/profile_pic.jpg" />
            </div>
            <div class="box_container">
                <div class="post_box_top">
                    <span class="author_name">
                        <a class="user_link">Rodrigo Menezes</a>
                    </span>
                    <span class="post_description">
                        created a thread in <a class="group_link">Menezes Family</a>.
                    </span>
                    <div class="thread_title">
                        <a class="thread_link">
                            "Why cat pictures are awesome"
                        </a>
                    </div>
                </div>
                <div class="post_content">
                    <p>Look at the pretty kitty!</p>
                    <img src="{{ STATIC_URL }}img/place_kitten.jpg" />
                </div>
            </div>
            <div class="box_bottom">
                <span class="relative_time">
                    30 minutes ago
                </span>
                <a class="post_button" title="Share this post">
                    0 <i class="icon-share"></i>
                </a>
                <a class="post_button" title="Kudos">
                    0 <i class="icon-thumbs-up"></i>
                </a>
                <a class="post_button" title="Post a reply">
                    1 <i class="icon-comment"></i>
                </a>
            </div>
        </div>