{% extends "base.html" %}

{% block container %}
<div class="container">
    <div class="groups_content">
        <h1>Say goodbye to listservs</h1>
        <p>Groupfoo is a better way to keep in touch with a group. Think of it as a more powerful forum.</p>
        <h3>Features</h3>
        <p>Privacy - make a group private for just your friends or public for the whole internet.</p>
        <p>Email settings - want to follow a thread? Star it.</p>
        <p>Aggregation - Groupfoo takes all posts from all your groups and allows you to see them in one feed</p>
        <p>Share media - Groupfoo makes it easy for you to share pictures, links and files.</p>

    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}