{% extends "base.html" %}

{% block container %}
<div class="container">
    <div class="thread-top">
        <div class="thread_info">
            <h1 class="thread_title">Why cat pictures are awesome</h1>
            <a class="group_name">Charter Club</a>
        </div>
    </div>
    <div class="top_buttons">
        <button class="btn watch_button"><i class="icon-star-empty"></i>Watch</button>
    </div>

    <div class="clearfix"></div>

    <div class="thread_content">
        <div id="post_1">
            <p>Look at the pretty kitty!</p>
            <img src="{{ STATIC_URL }}img/place_kitten.jpg" />
        </div>

        <div id="post_2">
            <p>Nice cat!</p>
        </div>

        <div id="create_post"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var user = new User({id: 1, first_name: "Rodrigo", last_name: "Menezes", profile_picture: "{{ STATIC_URL }}img/profile_pic.jpg"});

    var new_post = new Post();
    var post_editor_view = new PostEditorView({ model: new_post, el: $("#create_post"), user: user });

    var post_1 = new Post({ id: 1, content: $('#post_1').html() }, { date: "10/31/12 5:04 PM", num_shares: 0, num_kudos: 0, num_replies: 1, 
        author: { id: 1, first_name: "Rodrigo", last_name: "Menezes", profile_picture: "{{ STATIC_URL }}img/profile_pic.jpg" } 
    });
    var post_2 = new Post({ id: 2, content: $('#post_2').html() }, { date: "10/31/12 5:32 PM", num_shares: 0, num_kudos: 0, num_replies: 0,
        author: { id: 2, first_name: "Bernardo", last_name: "Menezes", profile_picture: "{{ STATIC_URL }}img/picture_8.jpeg" }
    });
    var post_1_view = new PostView({ el: $("#post_1"), model: post_1, post_editor_view: post_editor_view });
    var post_2_view = new PostView({ el: $("#post_2"), model: post_2, post_editor_view: post_editor_view });

    var posts = new PostList([post_1, post_2], {id: 1});
</script>
{% endblock %}
